{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

<div class="container my-5">
    <div class="row">
        {% if object.status == 'moderation_ok' %}
        <div class="col-4 col-sm-2">
            <img class="img-fluid rounded shadow" src="/media/{{ jobseeker.photo }}" onerror ="this.src='{% static 'img/employers/example.jpg' %}';" alt="My image">
        </div>
        <div class="col-11 col-sm-10">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">{{ jobseeker.user.last_name }} {{ jobseeker.user.first_name }} {{ jobseeker.middle_name }}</th>
                </tr>
                <tr>
                    <th scope="col">Пол</th>
                    <th scope="col">{{ jobseeker.get_gender_display }}</th>
                </tr>
                <tr>
                    <th scope="col">День рождения</th>
                    <th scope="col">{{ jobseeker.birthday }}</th>
                </tr>
                <tr>
                    <th scope="col">Город</th>
                    <th scope="col">{{ jobseeker.city }}</th>
                </tr>
                <tr>
                    <th scope="col">Номер телефона</th>
                    <th scope="col">{{ jobseeker.phone_number }}</th>
                </tr>
                <tr>
                    <th scope="col">Семейное положение</th>
                    <th scope="col">{{ jobseeker.get_married_status_display }}</th>
                </tr>
                <tr>
                    <th scope="col">О себе</th>
                    <th scope="col">{{ jobseeker.about }}</th>
                </tr>
                <tr>
                    <th scope="col">Статус</th>
                    <th scope="col">{{ jobseeker.get_status_display }}</th>
                </tr>
                </thead>
            </table>
            <a class="btn btn-primary mb-3" href="{% url 'auth:edit_jobseeker' jobseeker.pk %}">
                Редактировать
            </a>
            <a class="btn btn-success mb-3 ml-3" href="{% url 'auth:edit_password' %}">
                Сменить пароль
            </a>
            <h1 class="my-5">Мои резюме</h1>
            <table class="table employer_table">
                <tbody>
            {% if not resumes %}
                <tr>
                    <td scope="col"><p>У вас не заведено ни одно резюме</p></td>
                </tr>
            {% else %}
                {% for object in resumes %}
                    <tr>
                        <td scope="col">
                            <p>{{ object.name }}</p>
                            {% if object.salary_min and object.salary_max %}
                            <p>{{ object.salary_min }} - {{ object.salary_max }} {{ object.currency }}</p>
                            {% elif object.salary_min %}
                            <p>{{ object.salary_min }} {{ object.currency }}</p>
                            {% elif object.salary_max %}
                            <p>{{ object.salary_max }} {{ object.currency }}</p>
                            {% endif %}
                        </td>
                        <td scope="col" class="text-right">
                            <p><a href="{% url 'jobseeker:resume_detail' jobseeker.pk object.id %}">просмотреть резюме</a></p>
                            <p><a class="btn-resume-delete" href="{% url 'jobseeker:resume_delete' jobseeker.pk object.id %}">удалить резюме</a></p>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
                </tbody>
            </table>
                <a class="btn btn-primary mb-3" href="{% url 'jobseeker:resume' jobseeker.pk %}">
                    Создать резюме
                </a>
            <h1 class="my-5">Поиск вакансий</h1>
                <p>Здесь будет форма поиска вакасий или переход в раздел поиска </p>
            <h1 class="my-5">Избранные вакасии</h1>
                <a class="btn btn-outline-primary" role="button"
                   href="{% url 'jobseeker:favorite_list' jobseeker.pk %}">перейти в раздел</a>
            <h1 class="my-5">Отклики</h1>
                <a class="btn btn-outline-primary" role="button"
                   href="{% url 'jobseeker:offer_list' jobseeker.pk %}">перейти в раздел</a>
        </div>
        {% else %}
        <div class="col-12">
            <p class="text-center">Ваш профиль отправлен на постмодерацию модератору портала. После
                прохождения модерации вам будет доступна вся функциональность портала,  включая размещение
                резюме на портале, добавление вакансий в избранное, рассылка своих резюме
                работодателям. При одобрении модератором портала данных вашего профиля вам на вашу
                почту придет уведомление об успешной модерации. В случае отказа в прохождении
                модерации вам также будет направлено письмо с причинмами отказа. В случае отказа
                вы можете снова отредактировать свой профиль с учетом замечаний.
            </p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}