{% extends 'mainapp/base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col">
            <div class="d-flex">
                {% if object.user.jobseeker.photo %}
                <div class="w-25 h-50">
                <img class="rounded w-75 h-75 shadow" src="/media/{{ object.user.jobseeker.photo }}" alt="Jobseeker image">
                </div>
                {% endif %}
                <div class="d-block ml-1">
                <div class="d-flex">
                <h4 style="color: #007bff;">{{ resume.user.last_name }} {{ resume.user.first_name }} {{ resume.user.jobseeker.middle_name }}</h4>
                <p class="ml-5">
                    {% if not object.is_favorite %}
                    <form action="{% url 'employer:create_favorite' user.employer.pk %}"
                              method="post" class="ml-2 add-favorite">{% csrf_token %}
                            <input type="hidden" name="checked" value="{{ resume.pk }}">
                            <button class="btn btn-clear add-favorite" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" style="fill:blue;">
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                            </svg></button>
                        </form>
                    {% else %}
                    <form action="{% url 'employer:delete_favorite' user.employer.pk object.favorite  %}"
                              method="post" class="ml-2 delete-favorite">{% csrf_token %}
                            <input type="hidden" name="checked" value="{{ resume.pk }}">
                            <button class="btn btn-clear delete-favorite" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" style="fill:blue;">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg></button>
                    </form>
                    {% endif %}
                </p>
                </div>
                <p class="text-muted mb-3">
                Пол {{ resume.user.jobseeker.get_gender_display|title }}, д.р. {{ resume.user.jobseeker.birthday|date:"d.m.Y" }}
                </p>
                <p class="mr-5">тел.: {{ object.user.jobseeker.phone_number|phone_number }}</p>
                {% if object.user.email %}<p class="mr-5">email: {{ object.user.email }}</p>{% endif %}
                {% if object.user.jobseeker.city %}<p class="mr-5">{{ object.user.jobseeker.city }}</p>{% endif %}
                </div>
            </div>
            <p class="h5 font-weight-bold mt-5 pt-2">Желаемая должность и зарплата</p>
            <hr>
            <p class="pt-0 mb-3 mt-3" style="color:black;">{{ object.name }}</p>
            <p class="pt-0 mb-3 mt-3" style="color:black;">Уровень з/п:
            {% if resume.salary_min and resume.salary_max %}{{ resume.salary_min }} - {{ resume.salary_max }} {{ resume.currency }}
            {% elif resume.salary_min %} от {{ resume.salary_min }} {{ resume.currency }}
            {% elif resume.salary_max %} до {{ resume.salary_max }} {{ resume.currency }}
            {% else %} не указана
            {% endif %}
            </p>
            <p class="h5 font-weight-bold mb-0 mt-5">Опыт работы</p>
            {% if object.get_experience_items %}
            {% for item in object.get_experience_items %}
            <hr>
            <p class="h6 mb-1"><b>{{ item.company_name }}</b></p>
            <p class="h6 mb-1">{{ item.job_title }} </p>
            <p class="mb-2">{{ item.from_date|date:'M Y' }} - {{ item.to_date|date:'M Y' }}</p>
            <p class="mb-1">{{ item.description|linebreaks }}</p>
            {% endfor %}
            {% else %}
            <hr>
             <p class="pt-0">О прежнем опыте работы нет никакой информации</p>
            {% endif %}
            <p class="h5 font-weight-bold mb-0 mt-5">Образование, курсы, сертификаты</p>
            <hr>
            {% if object.get_education_items %}
               {% for item in object.get_education_items %}
                <p class="h6 mb-1"><b>{{ item.institution_name }} {{ item.get_edu_type_display }} ({{ item.get_degree_display }})</b></p>
                <p class="mb-2">{{ item.course_name }}</p>
                <p class="mb-2" >{{ item.from_date|date:'M Y' }} - {{ item.to_date|date:'M Y' }}</p>
               {% endfor %}
           {% else %}
                <p class="pt-0">Информации об образовании нет</p>
            {% endif %}
            {% if object.key_skills %}
            <p class="h5 font-weight-bold mb-0 mt-5">Ключевые навыки</p>
            <hr>
            <p class="mb-2">{{ object.key_skills }}</p>
            {% endif %}
            {% if object.about %}
            <p class="h5 font-weight-bold mb-0 mt-5">О кандидате</p>
            <hr>
            <p class="mb-2">{{ object.about }}</p>
            {% endif %}
            <p class="mb-5">Дата последнего обновления: {{ object.updated_at|date:"d.m.Y" }}</p>
            <div class="d-flex">
                <a class="btn btn-outline-primary mb-5 px-4" role="button" href="{% url 'main' 1 %}">К списку резюме
                </a>
                <a class="btn btn-outline-primary mb-5 px-4 ml-5" role="button" href="{% url 'employer:send_offer' user.employer.pk resume.pk %}">Направить
                    предложение
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}