{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h4 class="text-center mb-3 font-italic">Смена пароля</h4>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 mb-5">
            <form class="form-horizontal w-100" action="" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="form-control" type="submit" value="сохранить">
            </form>
        </div>
    </div>
</div>
{% endblock %}
