{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h3 class="mb-5 font-italic text-center">Смена пароля компании {{ user.employer.company_name }}</h3>
    <div class="row justify-content-center">
        <div class="col-10 col-sm-6">
            {% if sent %}
            <p>Пароль успешно изменен.</p>
            <p class="text-center my-5"><a  class="btn btn-outline-primary" role="button" href="{% url 'main' 1 %}">на
                главную</a></p>
            {% else %}
            <form class="form-horizontal w-100" action="" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="form-control btn btn-outline-primary" role="button" type="submit"
                       value="сохранить">
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}