{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h3 class="font-italic text-center mb-5">Результаты поиска</h3>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10">
            {% if search_news %}
            <a class="h5" href="{% if user.is_authenticated %}{% url 'news' 1 %}{% else %}{% url 'main' 1 %}{% endif %}">&laquo
                вернуться к поиску</a>
            {% for object in search_news %}
            <div class="row mb-3 mt-5" id="{{ object.id }}">
                <div class="col-2 h5">{{ object.published|date:"d.m.y" }}</div>
                <div class="col-10 h5">{{ object.title|capfirst }}</div>
            </div>
            <div class="row mb-1">
                <div class="col mb-0 text_news">
                    {% if object.description|wordcount > 25 %}
                    {{ object.description|linebreaks|truncatewords:25 }}
                    <p class="mb-2"><a href="{% url 'news_detail' object.pk %}"><small class="text-muted">
                        подробнее...</small></a></p>{% else %} {{ object.description|linebreaks }}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="text-center mt-4 mb-5">
            {% if search_news.has_previous %}
                <a class="h4" href="?search={{ search }}&page={{ search_news.previous_page_number }}">&laquo
                </a>
            {% endif %}
            <span class="px-3 font-italic font-weight-bold">страница {{ search_news.number }}
                    из {{ search_news.paginator.num_pages }}</span>
            {% if search_news.has_next %}
                <a class="h4" href="?search={{ search }}&page={{ search_news.next_page_number }}">
                    &raquo</a>
            {%endif%}
            </div>
            {% else %}
            <p>Поиск не дал результатов. Попробуйте изменить поиск.</p>
            <a href="{% if user.is_authenticated %}{% url 'news' 1 %}{% else %}{% url 'main' 1 %}{% endif %}">вернуться к поиску</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}